<html>

<head>

</head>

<body>
    Hi <%= name %>
        <br>
        <br>
        here is link to reset your email
        <br>
        <a href="<%= resetPasswordUrl %>">Click here to Reset Your Password</a>
        <br>
        <br>
        Thanks
        <br>
        Rateme
</body>

</html>